* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(245, 239, 232); */

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.728), rgba(255, 255, 255, 0.728)), url(https://images.unsplash.com/photo-1615705592748-029c989e6d5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


h1 {
    font-size: 10vw;
    margin-bottom: 2vh;
}


h2 {
    font-size: 8vw;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 5vw;
}

p {
    font-size: 5vw;
}

#video {

    width: 100%;
    min-height: 70vw;
    height: 50%;
    max-height: 800px;
    padding: 5% 0;
}

#features h2 {
    background-color: rgb(245, 239, 232);
    padding: 10vw 0;
}

.iconfeatures p {
    font-size: 5vw;
    padding: 5vw 0;
    margin-top: 0;
    margin-bottom: 10vw;
    grid-area: 'feature';
}

.iconfeatures img {
    grid-area: 'icon';
    width: 100%;
    height: auto;
    max-width: 15vw;
    margin: 0 auto;
    justify-self: center;
}

button {
    font-family: 'Nunito', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    padding: 1vw 2vw;
    border-radius: 2vw;
    border: 1px solid rgba(0, 0, 0, 0.917);
    box-shadow: 2px 2px 5px rgba(99, 96, 96, 0.917);
    color: black;
    background-color: rgb(229, 176, 127);
}

button:hover {
    background-color: rgb(217, 147, 82);
}

#email {
    text-align: center;
    font-size: 4vw;
    width: 80vw;
}

#email:hover {
    border: 2px solid orange;
}


#submit {
    font-size: 4vw;
    margin-top: 2%;
}


.container {
    max-width: 1400px;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;

}


header .logo {
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 239, 232);

}

header a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 5px 50px;
    font-weight: bold;

}

header a:hover {
    color: orange;
}


#nav-bar {
    display: flex;
    font-size: 4vw;

    line-height: 150%;
    flex-direction: column;
    text-align: center;


}




img {
    width: 100%;
    height: auto;
}


footer p {

    margin-top: 20vw;
    margin-bottom: 0;
    text-align: center;
    background-color: rgb(238, 225, 212);
}








#features .container,
#pricing .container {

    background-color: rgb(245, 239, 232);


}



#hero {
    padding-top: 40vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150vw;
}

#how-we-made-it .container,
#client-data .container,
#pricing .container {
    text-align: center;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}

#pricing .container {
    margin: 20vw 0;
}

#pricing .container p {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 60vw;
    border-radius: 1em;
    width: 80vw;
    height: 70vw;
    margin: 7vw auto;
}

.card:hover {

    border: 2px solid orange;
}

.card button {
    margin: 0 2vw 0 0;
    align-self: flex-end;
    box-shadow: none;
}

.card:first-child {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1615486363973-f79d875780cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);

}

.card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1615486364134-62a4c72c822d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);

}

.card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1619234711431-644a9d28d6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80);

}





#features .container {
    margin-top: 0vw;
    text-align: center;
    padding: 10px 20px;

    display: grid;
    justify-items: center;

    grid-row: 10vw;

}

#features {
    margin-top: 20vw;

}





@media (min-width: 500px) {

    header {
        flex-wrap: wrap;
    }



    #features .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
            "icon icon"
            "feature feature"
            "icon icon"
            "feature feature"
        ;
    }



    .iconfeatures p {
        font-size: 4vw;
        padding: 5vw;
        margin-top: 0;
        margin-bottom: 10vw;
        grid-area: 'feature';
    }

    .iconfeatures img {
        grid-area: 'icon';
        width: 100%;
        height: auto;
        max-width: 15vw;
        margin: 0 auto;
        justify-self: center;
    }
}



@media (max-height: 800px) {


    header {
        position: static;
    }


    h1 {
        margin-top: 0;
        font-size: 8vw;
        margin-bottom: 2vh;
    }


    h2 {
        font-size: 6vw;
        text-align: center;
        margin: 0;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    #pricing .container {
        margin: 10vw 0;
    }


    .iconfeatures p {
        font-size: 3vw;
        padding: 5vw;
        margin-top: 0;
        margin-bottom: 10vw;
        grid-area: 'feature';
    }



    #hero .container {
        padding-top: 0vw;
        padding-bottom: 0;
        margin: 0;
    }

    #hero {
        padding-top: 0;
        height: 80vw;
    }

    #video {

        width: 100%;
        min-height: 60vw;
        margin: 0 auto;
        height: 50%;
    }

    .card {
        width: 60vw;
        height: 50vw;
        margin: 7vw auto;
    }

    footer p {

        font-size: 5vw;
    }


    .card button {
        font-size: 2.5vw;
    }
}


@media (min-width: 1000px) {

    h1 {
        margin-top: 50vw;
        font-size: 5vw;
    }

    #features h2 {
        max-width: 1400px;
        margin: auto;
        font-size: 5vw;
        padding-bottom: 4vw;
        padding-top: 4vw;
    }

    #hero {
        padding-top: 0;
        height: 15vw;
    }

    #hero .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #hero button {
        margin-bottom: 20vw;
        margin: 2vw auto 20vw auto;
        font-size: 2vw;
        width: 15vw;
        border-radius: 0.5em;
        padding: 0.5vw 2vw;
    }

    body {
        background-color: rebeccapurple;
    }

    #header {
        width: 100vw;
        font-size: 1vw;
    }


    header .container {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        max-height: 7vh;
        position: fixed;
    }

    header img {
        max-width: 15vw;
    }

    header a {
        font-size: 1vw;
    }

    #nav-bar {
        flex-direction: row;
        align-self: flex-end;
        justify-content: right;
        line-height: 5vh;
        width: 100vw;

    }

    #pricing .container {
        margin: 0;
    }


    .iconfeatures p {
        font-size: 2vw;
        margin-bottom: 1vw;
        padding-top: 1vw;
    }

    .iconfeatures img {
        max-width: 10vw;
    }

}